<table mat-table [dataSource]="dataSource" class="comments-table">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Post Id </th>
      <td mat-cell *matCellDef="let element"> {{element.PostId}} </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comments </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
   
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
       
       <button mat-raised-button (click)="deleteComment(element.Id)" class="delete-btn">Delete</button>
       <button mat-raised-button (click)="likesCount(element.PostId)" class="like-btn">likes</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
